.nav-box {
  display: inline-block;
  padding-right: 20px;
  width: 20%;
}

.nav-search {
  padding-right: 200px;
  margin-right: 10px;
  border-radius: 20px;
}

.btn-default {
  font-size: 0.9em;
  background-color: #eceeef;
}
