// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.overlay{
  position:fixed;
   background:url(http://www.4scaters.com/wp-content/uploads/2015/06/foodgrid.png);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
 opacity:0.7;
 background-color:#fff;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.zip-modal {
    box-sizing: border-box;
    position: absolute;
    width: 515px;
    left: 50%;
    top: 50%;
    margin-left: -257.5px;
    margin-top: -217.5px;
    padding: 10px 12px 0 12px;
    background: #141414;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
    z-index: 1;
    text-align: center;
}

.modal-footer {
  text-align: center;
}

h1 {
  color: #ffffff;
}

.index-pic{
  margin: 5%;
}

.btn-warning{
  margin-bottom: -100%;
  margin-left: -50%;
}

.btn-danger{
  margin-left: 130%;
  margin-bottom: -100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.landing-buttons{
  margin: 5%;
}

.zip-form {
  margin-bottom: 2%;
}

.ta-right {
  text-align: right;
}

.pic-button {
  margin-top: 100%;
}


.nav-font-size{
  font-size: 100%;
}



.header {
    background: #8a8a8a;
  }
  .header .columns {
    padding-bottom: 0;
  }
  .header p {
    color: #ff926b;
    padding-top: 15px;
  }
  .header .wrapper-inner {
    padding: 20px;
  }
  .header .container {
    background: transparent;
  }
  table.button.facebook table td {
    background: #3B5998 !important;
    border-color: #3B5998;
  }
  table.button.twitter table td {
    background: #1daced !important;
    border-color: #1daced;
  }
  table.button.google table td {
    background: #DB4A39 !important;
    border-color: #DB4A39;
  }
  .wrapper.secondary {
    background: #ff926b;
  }
body{
    background-color: #efd6ac;

  }
  .email-btn{
    margin-top: -15%;
  }
  img{
    border-style: solid;
    border-width: 25px;

    max-width: 100%;
    width:100%;

  }

.card-img-top{
  border: 25px solid #586BA4;
}

.jumbotron{
  background-color: #FFA928;
  color: #DD614A;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 4em;
  letter-spacing: 1px;
}

.card-block{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
}

.card {
  margin: 20px;
}




.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}


.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}


#restaurant-info {
  padding-bottom: 2%;
 }

.single-space {
  line-height: .8em;
}

#location-address {
  padding: 3%;
}
